footer {
    text-align: center;
}

a[role=button] i {
    margin-right: 0.2em;
}

.logo {
    width: 30pt;
    height: 30pt;
    border-radius: 100%;
    border-width: 1pt;
    border-color: white;
    border-style: solid;
}

.float-left {
    float: left;
}

.text-align-center {
    text-align: center;
}