body {
    background-color: #1f1f1f;
    color: #e6e6e6;
    font-family: Arial, sans-serif;
    margin: 10pt;
    padding: 0;
}
h1, h2 {
    color: #ffffff;
}
p {
    line-height: 1.5;
}
a {
    color: #91c7d7;
    font-weight: 100;
}